body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1221px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1247 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:105px;
  width:1211px;
  height:222px;
}
#u1248_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1248 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u1248_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u1249_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
}
#u1249 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:104px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u1249_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:100px;
  word-wrap:break-word;
}
#u1250_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:30px;
}
#u1250 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:0px;
  width:400px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u1250_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:396px;
  word-wrap:break-word;
}
#u1251_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1251 {
  border-width:0px;
  position:absolute;
  left:604px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u1251_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u1252_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u1252 {
  border-width:0px;
  position:absolute;
  left:704px;
  top:0px;
  width:110px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u1252_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u1253_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:30px;
}
#u1253 {
  border-width:0px;
  position:absolute;
  left:814px;
  top:0px;
  width:133px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u1253_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:129px;
  word-wrap:break-word;
}
#u1254_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:30px;
}
#u1254 {
  border-width:0px;
  position:absolute;
  left:947px;
  top:0px;
  width:133px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u1254_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:129px;
  word-wrap:break-word;
}
#u1255_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
}
#u1255 {
  border-width:0px;
  position:absolute;
  left:1080px;
  top:0px;
  width:131px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u1255_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:127px;
  word-wrap:break-word;
}
#u1256_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:192px;
}
#u1256 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:192px;
  text-align:left;
}
#u1256_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:88px;
  width:96px;
  word-wrap:break-word;
}
#u1257_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:192px;
}
#u1257 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:30px;
  width:104px;
  height:192px;
  text-align:left;
}
#u1257_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:88px;
  width:100px;
  word-wrap:break-word;
}
#u1258_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:192px;
}
#u1258 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:30px;
  width:400px;
  height:192px;
  text-align:left;
}
#u1258_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:88px;
  width:396px;
  word-wrap:break-word;
}
#u1259_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:192px;
}
#u1259 {
  border-width:0px;
  position:absolute;
  left:604px;
  top:30px;
  width:100px;
  height:192px;
  text-align:left;
}
#u1259_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:88px;
  width:96px;
  word-wrap:break-word;
}
#u1260_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:192px;
}
#u1260 {
  border-width:0px;
  position:absolute;
  left:704px;
  top:30px;
  width:110px;
  height:192px;
  text-align:left;
}
#u1260_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1261_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:192px;
}
#u1261 {
  border-width:0px;
  position:absolute;
  left:814px;
  top:30px;
  width:133px;
  height:192px;
  text-align:left;
}
#u1261_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1262_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:192px;
}
#u1262 {
  border-width:0px;
  position:absolute;
  left:947px;
  top:30px;
  width:133px;
  height:192px;
  text-align:left;
}
#u1262_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1263_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:192px;
}
#u1263 {
  border-width:0px;
  position:absolute;
  left:1080px;
  top:30px;
  width:131px;
  height:192px;
  text-align:left;
}
#u1263_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1264_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#3C4A60;
}
#u1264 {
  border-width:0px;
  position:absolute;
  left:585px;
  top:43px;
  width:121px;
  height:24px;
  font-size:20px;
  color:#3C4A60;
}
#u1264_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
